
<!--<form action="{% url 'search' %}" method='GET'>-->
<!--    <input type = 'search' name='keyword'>-->
<!--    <input type='submit' value="search">-->
<!--    {% if keyword %}-->
<!--    <h5>'{{ keyword }}' 검색결과 입니다. </h5>-->
<!--    {% endif %}-->
<!--</form>-->

<!--{% for stock in stocks %}-->
<!--    <h4> 주식 이름 : {{ stock.stock_name }} </h4>-->
<!--    <h4> 내용: {{ stock.stock_code }} </h4>-->
<!--{% empty %}-->
<!--    검색 결과가 없습니다.-->
<!--{% endfor %}-->

<h1>Search</h1>
<br>

<form action="." method="get"> {% csrf_token %}
    {{ form.as_table }} <!-- form을 테이블 형식으로 표시, 여기서 form은 views에서 넘겨준 PostSearchForm 객체임-->
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</form>

<br/><br/>

{% if object_list %}
    {% for post in object_list %}
        <h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
        {{ post.modify_date|date:"N d, Y" }}
        <p>{{ post.description }}</p>
    {% endfor %}
{% elif search_term %}<!-- 검색란이 공란인지 확인-->
    <b><i>Search Word({{ search_term }}) Not Found</i></b>
{% endif %}
